[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service
[Service]
Type=simple
User=odoo
ExecStart=/var/odoo12/odoo/odoo-bin -c /var/odoo12/odoo/debian/odoo.conf
KillMode=mixed
[Install]
WantedBy=multi-user.target
